body {
  color: #40514e;
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
}

.top-container {
  background: #EAF6F6;
  margin: 0;
  padding-top: 50px;
}

.middle-container {
  background: white;
}

h1 {
  color: #66bfbf;
  font-size: 90px;
  margin: 10px;
  font-family: "Sacramento", cursive;
}

h2 {
  color: #66bfbf;
  font-size: 2.5rem;
  font-weight: normal;
  margin: 10px;
  font-family: "Montserrat", sans-serif;
}

h3 {
  color: #11999e;
  font-family: "Montserrat", sans-serif;
}

a {
  color: #11999e;
}

.top-cloud {
  position: relative;
  left: 200px;
}

.bottom-cloud {
  position: relative;
  right: 200px;
}

.mountain {
  display: block;
  margin: 0 auto;
}

span.underline {
  text-decoration: underline;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  line-height: 2;
  text-align: left;
}

.skill-img-left {
  float: left;
  border-radius: 100%;
  width: 25%;
  margin: 30px;
}

.skill-img-right {
  float: right;
  border-radius: 100%;
  width: 25%;
  margin: 30px;
}

.profile {
  margin: 0 auto;
}

.profile img {
  border-radius: 100%;
  width: 15%;
  margin-top: 50px;
}

.profile p {
  width: 30%;
  margin: 0 auto;
}

hr {
  border: none;
  border-top: 5px dotted #eaf6f6;
  color: #fff;
  background-color: #fff;
  height: 1px;
  width: 5%;
  margin: 100px auto;
}

.contact-me {
  width: 50%;
  margin: 0 auto;
}

.BUTTON_WHU {
  background: #17d2d9;
  background-image: -webkit-linear-gradient(top, #17d2d9, #0b7e82);
  background-image: -moz-linear-gradient(top, #17d2d9, #0b7e82);
  background-image: -ms-linear-gradient(top, #17d2d9, #0b7e82);
  background-image: -o-linear-gradient(top, #17d2d9, #0b7e82);
  background-image: -webkit-gradient(to bottom, #17d2d9, #0b7e82);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 400;
  padding: 15px 20px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  margin: 50px;
  padding: 10px 20px;
}

.bottom-container {
  background: #66bfbf;
  padding: 30px;
}

.bottom-container a {
  color: #11999e;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 10px;
  text-decoration: none;
}

.bottom-container p {
  color: #eaf6f6;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  margin: 30px auto 10px auto;
}
