body {background-color: #eaf6f6;}

hr {
    border-style: dotted none none;
    border-color: grey;
    border-width: 5px;
    width: 5%;
}

h1 {
    color: #66bfbf;
    font-size: 100px;
    font-family: Helvetica;
}

h3 {
    color: #66bfbf;
}

/* Class Selectors */
.good {
    background-color: greenyellow;
}

.bad {
    background-color: red;
}

.emoji {
    width: 10%;
}

/* Pseudo-classes */
.emoji:hover {
    background-color: seashell;
}

.circular {
    border-radius: 100%;
}

/* ID Selectors */
#my_name {
    color: rosybrown;
}